.rightSideArea {
  padding: 60px;
  height: 811px;
  gap: 24px;
}

@media (max-width: 768px) {
  .rightSideArea {
    padding: 48px 24px;
  }
}

@media (max-width: 480px) {
  .rightSideArea {
    padding: 40px 16px;
  }
}
