.selectContainer {
  position: relative;
  width: 100%;
}

.selectBox {
  padding: 0px 16px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 300;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-300);
  border-radius: 8px;
  color: var(--color-gray-500);
}

.selectBox:focus {
  border: 1px solid var(--color-primary-500);
}

.selectedMenuList {
  margin-top: 8px;
  padding-top: 8px;
  position: absolute;
  width: 100%;
  border-radius: 8px;
  background-color: var(--color-white);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.scroll {
  height: 220px;
  overflow-y: scroll;
}

.selectedMenuItem {
  padding: 13px 16px;
}

.checkboxItem {
  margin-left: 4px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: flex-end;
  font-size: 16px;
  font-weight: 400;
}

.buttonArea {
  border-top: 1px solid var(--color-gray-300);
  width: 100%;
  height: 48px;
  display: flex;
}

.buttonArea > button {
  margin-left: auto;
  padding: 0 16px;
  border: none;
  background-color: inherit;
  font-size: 15px;
  font-weight: 600;
  color: var(--color-primary-500);
  cursor: pointer;
}

.selectedList {
  margin-top: 16px;
  padding: 20px;
  width: 100%;
  border-radius: 8px;
  background-color: var(--color-gray-100);
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.selectedList > p {
  margin: 12px 0;
  font-size: 15px;
  color: var(--color-gray-500);
}
