.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.cardListContaienr {
  width: 100%;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.cardContainer {
  position: relative;
  width: 100%;
  max-width: 337px;
  padding: 32px 60px 32px 24px;
  border-radius: 8px;
  border: 1px solid var(--color-gray-300);
}

.title {
  font-weight: 600;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.cardContainer button {
  position: absolute;
  top: -8px;
  right: 8px;
}

@media (max-width: 768px) {
  .cardListContaienr {
    margin-top: 32px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .cardListContaienr {
    margin-top: 24px;
    grid-template-columns: 1fr;
  }
}
