.cardListContaienr {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.cardContainer {
  position: relative;
  width: 100%;
  padding: 32px 60px 32px 24px;
  border-radius: 8px;
  border: 1px solid var(--color-gray-300);
}

.title {
  width: 100%;
  font-weight: 600;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.cardContainer button {
  position: absolute;
  top: -8px;
  right: 8px;
}
