.button {
  padding: 15px 20px;

  font-family: 'Pretendard';
  font-size: 15px;
  font-weight: 600;
  color: var(--color-primary-500);

  border: 1px solid var(--color-primary-500);
  border-radius: 8px;
  background-color: var(--color-white);

  cursor: pointer;
}

.button:disabled {
  color: var(--color-gray-300);

  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-300);

  cursor: default;
}

.fill {
  color: var(--color-white);

  background-color: var(--color-primary-500);
  border: none;
}

.fill:disabled {
  color: var(--color-gray-300);

  background-color: var(--color-gray-100);
  border: none;
}
