.list {
  width: 600px;
  margin-top: -24px;
}

.null {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-weight: 500;
  color: var(--color-gray-500);
  background-color: var(--color-gray-100);
  border-radius: 8px;
}

.null > svg {
  font-size: 40px;
  color: var(--color-gray-400);
}

.item {
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.userArea {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.userImg {
  width: 32px;
  height: 32px;
}

.nickname {
  font-weight: 700;
  color: var(--color-gray-700);
}

@media (max-width: 768px) {
  .list {
    width: 100%;
  }

  .null {
    height: calc(100vh - 160px);
  }
}

@media (max-width: 480px) {
  .item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .userArea {
    grid-column: span 3;
  }
}
