.title {
  margin-top: -16px;
  margin-bottom: 24px;
  font-size: 18px;
}

.nickname {
  font-weight: 600;
  color: var(--color-primary-600);
}

.list {
  padding: 20px;
  border-radius: 8px;
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.section {
  width: 524px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.sectionTitle {
  font-weight: 600;
  color: var(--color-gray-600);
  margin-right: auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.form > button {
  width: 80px;
  margin-top: 24px;
  margin-left: auto;
}

.errorMsg {
  margin-top: -8px;
  font-size: 14px;
  color: var(--color-negative-500);
}

@media (max-width: 768px) {
  .list {
    gap: 32px;
  }

  .section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
  }
  .sectionTitle {
    font-size: 15px;
    grid-column: span 5;
  }

  .form > button {
    width: 100%;
    margin-top: 24px;
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .list {
    gap: 16px;
    padding: 16px 12px;
  }
  .section {
    gap: 0px;
    row-gap: 16px;
    font-size: 14px;
  }
}
