.project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.project li {
  width: 424px;
  height: 258px;
  border: 1px solid var(--color-gray-300);
  border-radius: 16px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.category {
  display: flex;
}
.category span {
  display: block;
  padding: 6px 8px;
  border-radius: 8px;
  font-size: 16px;
  margin-right: 12px;
}

.category span:first-child {
  background-color: var(--color-primary-100);
  color: var(--color-primary-700);
}
.category span:last-child {
  background-color: var(--color-positive-100);
  color: var(--color-positive-700);
}

.title {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 15px;
}

.title span {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--color-primary-900);
}

.skillWrap {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-gray-300);
}

.skills {
  display: flex;
}

.skills span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: skyblue;
  margin-right: 8px;
  border-radius: 4px;
}
.skills .more {
  background-color: transparent;
  position: relative;
  left: -10px;
}

.createdAt {
  color: var(--color-gray-600);
  font-size: 14px;
  display: flex;
  align-items: center;
}

.createdAt span {
  margin-left: 15px;
}

.createdAt svg {
  position: relative;
  top: 3px;
  margin-right: 5px;
}

.bottom {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
}
.user svg {
  font-size: 32px;
  color: var(--color-primary-600);
}
.user span {
  margin-left: 9px;
  color: var(--color-gray-600);
  font-weight: bold;
}

.users {
  display: flex;
}
.users svg {
  font-size: 28px;
  color: var(--color-primary-600);
  border: 1px solid #fff;
  border-radius: 100%;
  width: 28px;
  height: 28px;
  display: block;
}
.users span {
  position: relative;
  color: var(--color-gray-500);
}
.users span:nth-child(2) {
  left: -5px;
}
.users span:nth-child(3) {
  left: -10px;
}

.bookmark {
  position: absolute;
  top: -3px;
  right: 30px;
  padding: 0;
  margin: 0;
  border: 0 none;
  background-color: transparent;
  font-size: 48px;
  color: var(--color-gray-300);
}
.bookmark.active {
  color: var(--color-primary-500);
}
