.container {
  width: 100%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-negative-300);
  border-radius: 8px;
}

.container > svg {
  font-size: 80px;
  color: var(--color-negative-400);
}

.container > p {
  line-height: 24px;
  text-align: center;
  color: var(--color-gray-700);
}

.title {
  font-size: 24px;
  font-weight: 700;
}
