.achievementList {
  display: flex;
  gap: 32px;
}

.achievementItem {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.default {
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-gray-400);
  background-color: var(--color-gray-100);
  border-radius: 8px;
}

.active {
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-gray-600);
  background-color: var(--color-gray-100);
  border-radius: 8px;
}

.levelInfo {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 13px;
  color: var(--color-gray-600);
}

.levelScore {
  font-weight: 500;
  color: var(--color-primary-500);
  font-size: 15px;
}
