.signupStep {
  margin-bottom: 24px;
  font-weight: 300;
  color: var(--color-gray-700);
}

.signupStep > span {
  font-weight: 700;
  color: var(--color-primary-500);
}

.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 36px;
  width: 520px;
  gap: 24px;
}

.signupForm > p {
  margin-top: -12px;
}

.inputContainer {
  width: fit-content;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputContainer input {
  width: 400px;
}

.inputContainer > button {
  margin-left: 12px;
  width: 110px;
  white-space: nowrap;
}

.emailAuthNumberDesc {
  margin-top: -8px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.emailAuthNumberDesc > p {
  font-size: 14px;
  line-height: 18px;
  color: var(--color-gray-500);
}

.emailAuthNumberDesc > button {
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 3px;
  color: var(--color-primary-500);

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.emailAuthNumberDesc > button:disabled {
  color: var(--color-gray-300);
  cursor: default;
}

.signupForm button[type='submit'] {
  position: absolute;
  right: 40px;
  bottom: 40px;
  width: 200px;
}

/* step 2 */
.step2ContentContainer {
  width: 520px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-right: 120px;
}

.step2 {
  margin-top: 198px;
}

.topArea {
  font-size: 28px;
  line-height: 36px;
}

.topArea span {
  font-weight: 700;
}

.nickname {
  color: var(--color-primary-500);
}

.desc {
  font-size: 18px;
  line-height: 26px;
  color: var(--color-gray-600);
}

.step2ContentContainer > button {
  margin-top: 24px;
  width: 200px;
}

@media (max-width: 768px) {
  .signupForm {
    width: calc(100vw - 64px);
  }
  .step2ContentContainer {
    width: calc(100vw - 64px);
    padding-right: 60px;
  }
  .inputContainer input {
    width: calc(100vw - 186px);
    min-width: 204px;
  }

  .topArea {
    font-size: 24px;
    line-height: 32px;
  }

  .desc {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 480px) {
  .signupStep {
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 300;
  }

  .signupForm {
    min-width: 324px;
  }
  .step2ContentContainer {
    min-width: 324px;
    padding-right: 16px;
  }

  .topArea {
    font-size: 20px;
    line-height: 30px;
  }

  .desc {
    font-size: 14px;
    line-height: 22px;
  }
}
