.container {
  margin-top: 72px;
}

.inner {
  max-width: 1320px;
  margin: 100px auto 0;
}

.title {
  font-size: 28px;
  font-weight: 700;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.contentContainer {
  margin-bottom: 120px;
}

.contentContainer > a {
  margin: 0 auto;
}
