.container {
  margin-top: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.title {
  font-size: 22px;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 24px;
}
