.infoContainer {
  margin-top: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.infoContainer > a {
  margin-left: auto;
}

.infoTitle {
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
}

.infoArea {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
