.loginForm {
  height: 236px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.loginButton {
  margin-top: auto;
  padding: 14px;

  border: none;
  border-radius: 8px;
  background-color: var(--color-primary-500);

  font-size: 15px;
  font-weight: 600;
  color: var(--color-white);

  cursor: pointer;
}

.loginButton:hover {
  background-color: #e8b13d;
}
