.rightSideArea {
  padding: 60px;
  height: 811px;
  gap: 24px;
}

.signupStep {
  margin-bottom: 24px;
  font-weight: 300;
  color: var(--color-gray-700);
}

.step2 {
  margin-top: 198px;
}

.signupStep > span {
  font-weight: 700;
  color: var(--color-primary-500);
}

.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 36px;
  width: 520px;
  gap: 24px;
}

.rightSideArea > button {
  width: 200px;
  position: absolute;
  right: 40px;
  bottom: 40px;
}

.inputContainer {
  display: flex;
  gap: 16px;
}

.inputContainer > button {
  width: 110px;
}

.step2ContentContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.topArea {
  font-size: 28px;
  line-height: 36px;
}

.topArea span {
  font-weight: 700;
}

.nickname {
  color: var(--color-primary-500);
}

.desc {
  font-size: 18px;
  line-height: 26px;
  color: var(--color-gray-600);
}

.step2ContentContainer > a {
  width: 200px;
}
