.rightSideArea {
  padding: 60px;
  gap: 24px;

  height: 684px;
}

.signupStep {
  margin-bottom: 24px;
  font-weight: 300;
  color: var(--color-gray-700);
}

.signupStep > span {
  font-weight: 700;
  color: var(--color-primary-500);
}

.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 36px;
  width: 520px;
  gap: 24px;
}

.signupForm > button {
  width: 200px;
  position: absolute;
  right: 40px;
  bottom: 40px;
}

.inputContainer {
  display: flex;
  gap: 16px;
}

.inputContainer > button {
  width: 110px;
}

.step3ContentContainer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.topArea {
  font-size: 24px;
  line-height: 32px;
}

.topArea span {
  font-weight: 700;
}

.nickname {
  color: var(--color-primary-500);
}

.desc {
  line-height: 24px;
  color: var(--color-gray-600);
}

.step3ContentContainer > a {
  width: 200px;
}
