.formContainer {
  margin-top: 32px;
  padding: 60px 140px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  background-color: var(--color-white);
  border: 1px solid var(--color-gray-300);
  border-radius: 8px;
}

.inputFieldArea {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inputFielditem {
  height: 108px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.fieldText {
  margin-bottom: 4px;
  font-weight: 500;
  color: var(--color-gray-600);
}

@media (max-width: 768px) {
  .formContainer {
    padding: 48px;
  }
}

@media (max-width: 480px) {
  .formContainer {
    margin-top: 24px;
    padding: 32px 24px;
    gap: 16px;
  }

  .inputFieldArea {
    gap: 16px;
  }
}
