.techStackList {
  padding: 30px 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  border-bottom: 1px solid var(--color-gray-300);
}

.view {
  margin-top: 24px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  border-bottom: 1px solid var(--color-gray-300);
}

.null {
  margin-top: 8px;
  color: var(--color-gray-500);
}

@media (max-width: 768px) {
  .techStackList {
    padding: 28px 32px;
  }
}

@media (max-width: 480px) {
  .techStackList {
    padding: 24px 16px;
  }
  .view {
    margin-top: 16px;
    padding-bottom: 32px;
    font-size: 14px;
  }
}
