.roomContainer {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 24px 32px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.container > svg {
  width: 110px;
  height: 110px;
  color: var(--color-gray-300);
}

.container > p {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-gray-500);
}

.date {
  width: fit-content;
  margin: 0 auto;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--color-gray-100);
  font-size: 14px;
  font-weight: 500;
  color: var(--color-gray-500);
}

.chat {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.messageform {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 8px;
  width: 862px;
  height: 150px;
}

.messageInput {
  padding: 12px;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 24px;
  border-radius: 8px;
  border: 1px solid var(--color-gray-300);
  resize: none;
}

.messageform > button {
  position: absolute;
  right: 12px;
  bottom: 12px;
}

.messageInput::placeholder {
  font-weight: 300;
  color: var(--color-gray-400);
}

.messageInput:focus {
  outline: none;
  border: 1px solid var(--color-primary-500);
}
