.infoContainer {
  margin-top: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.infoContainer > a {
  margin-left: auto;
}

.infoTitle {
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
}

.infoArea {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (max-width: 768px) {
  .infoContainer {
    gap: 48px;
  }

  .infoTitle {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .infoContainer {
    gap: 32px;
  }

  .infoTitle {
    font-size: 18px;
  }

  .infoArea {
    gap: 16px;
  }
}
